body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: #4f5a79;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    padding: 10px;
    text-align: left;
}

section {
    margin: 10px 0;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

section h2 {
    text-align: left;
    margin-bottom: 10px;
    color: #4f5a79;
    font-size: 1.5rem;
    border-bottom: 1px
}

footer {
    text-align: center;
    line-height: 10px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}