<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Classes</h2>
    <h3>Ivy tech</h3>
    <a href="/home" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>